*{
    margin: 0px;
    padding: 0px;
}
body{
    color:rgb(0, 0, 0);
    background-color:#f2eeba;
    margin:0px;
    margin-bottom: 50px;
}
header{
    width: 100%;
    color: white;
    background-color: #1F4F63;
    height: 50px;
    position: fixed;
    /* opacity: 0.3; */
    font-size: 30px;
    justify-content: left center;
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
    font-family:'Winky Sans';
    font-weight: 100;
    z-index: 10;
}
header p {
    padding-right: 100px;
    justify-content: center;
    margin-right: 100px;
}
header a {
    padding-top: 6px;
    margin-right: 11%;
    font-size: 20px;
    color:white;
    transition: color 0.5s ease ;
}
header a:hover{
    color: #4FE9DE ;
    transform: scale(1.05);
}

.principal-fundo{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #e80404;
    position: absolute;
    margin-top: 100px;
    width: 1000px;
    height: 330px;
    margin-left: 10%;
    border-radius: 10px;
    border: solid 2px #0a191f;
    overflow: hidden;
}
.principal-video{
    margin-left:350px;
    margin-top: -40px;
    position: absolute;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.principal-video:hover{
opacity: 1;
}
.principal-video img{
    position: absolute;
    margin-left: -560px;
}
.principal-video img:hover{
    display: none;
}
.principal-texto{
    position: absolute;
    margin-top: 40px;
    margin-right: 550px;
    font-family:'Winky Sans';
    font-weight: 100;
    flex-grow: 1;
    width: 400px;
}
.principal-texto h3 {
    font-size:25px;
    box-sizing: border-box;
    
}

.div_musicas_secundarias{
    position: absolute;
    margin-top: 700px;
    margin-left:10% ;
    background-color: #e80404;
    width: 1000px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div_sec_musica_1 {
    padding: 45px;
    display: flex;
}
.div_sec_musica_1 img{
    opacity: 0.3;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px; 
    height: 168px;
    box-sizing: border-box;
    transition: opacity 0.3s ease, border-color 0.3s ease, transform 0.3s ease-in-out;
}
.div_sec_musica_1 img:hover{
    opacity: 1;
    border:solid 2px #4FE9DE;
    transform: scale(1.05)  ;
    
}
.div_sec_musica_1_texto{
    flex-grow: 1;
    
    font-family:'Winky Sans';
    font-weight: 100;
}
.div_musicas_secundarias_2{
    position: absolute;
    margin-top: 1050px;
    margin-left:10% ;
    background-color: #e80404;
    width: 1000px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div_sec_musica_2 {
    padding: 45px;
    display: flex;
}
.div_sec_musica_2 img{
    opacity: 0.3;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px; 
    height: 168px;
    box-sizing: border-box;
    transition: opacity 0.3s ease, border-color 0.3s ease, transform 0.3s ease-in-out;
}
.div_sec_musica_2 img:hover{
    opacity: 1;
    border:solid 2px #4FE9DE;
    transform: scale(1.05)  ;
    
}
.div_sec_musica_2_texto{
    flex-grow: 1;
    padding-left: 35px;
    font-family:'Winky Sans';
    font-weight: 100;
}
.div_musicas_secundarias_3{
    position: absolute;
    margin-top: 1400px;
    margin-left:10% ;
    background-color: #e80404;
    width: 1000px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div_sec_musica_3 {
    padding: 45px;
    display: flex;
}
.div_sec_musica_3 img{
    opacity: 0.3;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px; 
    height: 168px;
    box-sizing: border-box;
    transition: opacity 0.3s ease, border-color 0.3s ease, transform 0.3s ease-in-out;
}
.div_sec_musica_3 img:hover{
    opacity: 1;
    border:solid 2px #4FE9DE;
    transform: scale(1.05)  ;
    
}
.div_sec_musica_3_texto{
    flex-grow: 1;
    font-family:'Winky Sans';
    font-weight: 100;
}
.div_musicas_secundarias_4{
    position: absolute;
    margin-top: 1750px;
    margin-left:10% ;
    background-color: #e80404;
    width: 1000px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div_sec_musica_4 {
    padding: 45px;
    display: flex;
}
.div_sec_musica_4 img{
    opacity: 0.3;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px; 
    height: 168px;
    box-sizing: border-box;
    transition: opacity 0.3s ease, border-color 0.3s ease, transform 0.3s ease-in-out;
}
.div_sec_musica_4 img:hover{
    opacity: 1;
    border:solid 2px #4FE9DE;
    transform: scale(1.05)  ;
    
}
.div_sec_musica_4_texto{
    flex-grow: 1;
    padding-left: 35px;
    font-family:'Winky Sans';
    font-weight: 100;
}
.div_musicas_secundarias_5{
    position: absolute;
    margin-top: 2100px;
    margin-left:10% ;
    background-color: #e80404;
    width: 1000px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.div_sec_musica_5 {
    padding: 45px;
    display: flex;
}
.div_sec_musica_5 img{
    opacity: 0.3;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px; 
    height: 168px;
    box-sizing: border-box;
    transition: opacity 0.3s ease, border-color 0.3s ease, transform 0.3s ease-in-out;
}
.div_sec_musica_5 img:hover{
    opacity: 1;
    border:solid 2px #4FE9DE;
    transform: scale(1.05)  ;
    
}
.div_sec_musica_5_texto{
    flex-grow: 1;
    font-family:'Winky Sans';
    font-weight: 100;
}