body{
    margin: 0px;
}
.cabecalho{
    background-color: black;
    width: 100%;
    position: fixed;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    display: flex;
}
.cabecalho a {
    margin: 10px;
}